<!DOCTYPE HTML>
<html>
<head>
    <title>Minesweeper</title>
</head>
<body>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        /*socket = new WebSocket("ws://" + window.location.host + "/sliders/");

        $('input.sync').on('input', function(event) {
            //console.log({who: $(this).attr('id'), data: $(this).val()});
            socket.send("{\"who\": \""+$(this).attr('id')+"\", \"data\": \""+$(this).val()+"\"}");
            return false;
        });

        socket.onmessage = function(e) {
            console.log(e);
            ee = JSON.parse(e.data);
            $('input#'+ee.who).val(ee.data);
        }*/
    </script>
</body>
</html>