<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MineSweeper</title>
</head>
<body>
    <a href="/logout/">Naujas prisijungimas</a>
    <form action="game/" method="post">
        <table>
            <tr><td>Room name: </td><td><input id="name" type="text" name="name" value="{{ game_name }}"></td></tr>
            <tr><td>Height: </td><td><input id="height" type="number" name="height" value="10"></td></tr>
            <tr><td>Width: </td><td><input id="width" type="number" name="width" value="10"></td></tr>
            <tr><td>Mines: </td><td><input id="mines" type="number" name="mines" value="20"></td></tr>
        </table>
        {% csrf_token %}
        <input type="submit" value="OK">
    </form>
    <script src="static/lib/jquery.min.js"></script>
</body>
</html>